<div class="parent">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
<!--        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>-->

        <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required>  <mat-error *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
              Username is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required minlength="6">  <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              <ng-container *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</ng-container>
              <ng-container *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</ng-container>
            </mat-error>
          </mat-form-field>

          <section>
            <div class="example-button-row">
              <button class="login_button" mat-raised-button [disabled]="loginForm.invalid || isLoading">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"></span> Login
              </button>
              <button class="rest_button" mat-button type="button" (click)="resetForm()">Reset</button>
            </div>
          </section>

        </form>
        <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</div>
