.main-content {
    text-align: center;
  }
  
  /* .user-content {
    display: inline-block;
    text-align: left;
    width: 100%; 
  }  **/
  
  
  header app-navbar {
    z-index: 1;
    position: relative;
  }
  