<h2 mat-dialog-title>Add New Product</h2>
<mat-dialog-content>
  <form [formGroup]="addProductForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="addProductForm.controls['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" placeholder="Price" formControlName="price" required>
      <mat-error *ngIf="addProductForm.controls['price'].hasError('required')">Price is required</mat-error>
      <mat-error *ngIf="addProductForm.controls['price'].hasError('min')">Price must be non-negative</mat-error>
    </mat-form-field>

    <div class="form-group">
      <label>Product Type</label>
      <mat-radio-group formControlName="productType" required>
        <mat-radio-button value="NON_VEHICLE" class="radio-button">Non-Vehicle</mat-radio-button>
        <mat-radio-button value="VEHICLE" class="radio-button">Vehicle</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="addProductForm.get('productType')?.hasError('required')">
        Product type is required
      </mat-error>
    </div>

    <div>
      <h3>Select Category</h3>
      <div *ngIf="isLoadingCategories">
        <mat-spinner diameter="30"></mat-spinner> Loading categories...
      </div>
      <div *ngIf="categoryErrorMessage" class="error">{{ categoryErrorMessage }}</div>
      <div class="category-list" *ngIf="allCategories.length > 0">
        <div
          *ngFor="let category of allCategories"
          class="category-item"
          (click)="onCategorySelected(category.id!)"
          [class.selected]="selectedCategoryId === category.id"
        >
          {{ category.name }}
        </div>
      </div>
      <mat-paginator
        [length]="totalCategories"
        [pageSize]="categoryPageSize" 
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="currentCategoryPage"
        (page)="handleCategoryPageEvent($event)"
        aria-label="Select page of categories"
        *ngIf="totalCategories > 0"
      >
      </mat-paginator>
    </div>

    <div>
      <h3>Select Main Image</h3>
      <div *ngIf="data.isLoadingProductImages$ | async">
        <mat-spinner diameter="30"></mat-spinner> Loading images...
      </div>
      <div *ngIf="productImageErrorMessage" class="error">{{ productImageErrorMessage }}</div>
      <div class="image-selection-grid" *ngIf="allProductImages.length > 0">
        <div
          *ngFor="let image of allProductImages"
          class="image-item"
          (click)="onMainImageSelected(image.id!)"
          [class.selected]="isMainImageSelected(image.id!)"
        >
          <img [src]="image.url" alt="{{ image.name }}" width="50" height="50">
        </div>
      </div>
      <mat-paginator
        [length]="totalProductImageCount"
        [pageSize]="productImagePageSize"
        [pageIndex]="currentProductImagePage - 1"
        [pageSizeOptions]="[4, 8, 20, 50]"
        (page)="loadMoreProductImages($event)"
        showFirstLastButtons
        *ngIf="totalProductImageCount > 0"
      >
      </mat-paginator>
    </div>

    <div>
      <h3>Select Other Images</h3>
      <div *ngIf="data.isLoadingProductImages$ | async">
        <mat-spinner diameter="30"></mat-spinner> Loading images...
      </div>
      <div *ngIf="productImageErrorMessage" class="error">{{ productImageErrorMessage }}</div>
      <div class="image-selection-grid" *ngIf="allProductImages.length > 0">
        <div
          *ngFor="let image of allProductImages"
          class="image-item"
          (click)="onOtherImageToggled(image.id!)"
          [class.selected]="isOtherImageSelected(image.id!)"
        >
          <img [src]="image.url" alt="{{ image.name }}" width="50" height="50">
        </div>
      </div>
      <mat-paginator
        [length]="totalProductImageCount"
        [pageSize]="productImagePageSize"
        [pageIndex]="currentProductImagePage - 1"
        [pageSizeOptions]="[4, 8, 20, 50]"
        (page)="loadMoreProductImages($event)"
        showFirstLastButtons
        *ngIf="totalProductImageCount > 0"
      >
      </mat-paginator>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="addProductForm.invalid || !addProductForm.get('mainImageId')?.value || addProductForm.get('categoryId')?.value === null || isLoadingCategories" (click)="save()">Save</button>
</mat-dialog-actions>
