<div class="content-div">
  <ul>
      <a routerLink="home" routerLinkActive="active" mat-list-item class="p-2 text-dark">Home</a>

      <ng-container *ngIf="(isLoggedIn$ | async)">  
        <li>
              <a routerLink="admin" routerLinkActive="active" mat-list-item class="p-2 text-dark">Admin Product</a>
          </li>

          <li>
              <a routerLink="user" routerLinkActive="active" mat-list-item class="p-2 text-dark">User</a>
          </li>

          <li>
              <a href="#" (click)="logout()" mat-list-item class="p-2 text-dark">LogOut</a>
          </li>
      </ng-container>  
      <li *ngIf="!(isLoggedIn$ | async)">
          <a routerLink="register" routerLinkActive="active" mat-list-item class="p-2 text-dark">Register</a>
      </li>

      <li *ngIf="!(isLoggedIn$ | async)">
          <a routerLink="login" routerLinkActive="active" mat-list-item class="p-2 text-dark">Login</a>
      </li>
  </ul>
</div>