.content-div ul{
    list-style-type: none;
}

/* app-choice-urls.component.css */
:host {
    display: block; /* Critical! */
  }
  
  .test-div {
    height: 350px; /* Or any height you want to test */
    width: 100%; /* Make sure it takes up the full width */
    background-color: lightblue; /* So you can easily see it */
  }